{{ $targetMap := dict "_blank" "newtab" "_self" "sametab" "_top" "top" }}

appConfig:
  theme: "{{ .Site.Theme }}"

pageInfo:
  title: "{{ .Site.Name }}"
  description: "{{ .Site.Description }}"
  logo: "{{ .Site.Favicon }}"

sections:
{{- range .Site.Pages }}
  {{- range .Sections }}
  - name: "{{ .Title }}"
    icon: "{{ .Icon }}"
    items:
      {{- range .Items }}
      - title: "{{ .Title }}"
        description: "{{ .Description }}"
        icon: "{{ .Icon }}"
        url: "{{ .URL }}"
        target: "{{ index $targetMap .Target }}"
        statusCheck: false
      {{- end }}
  {{- end }}
{{- end }}