{
  "ui": {
    "name": "{{ .Site.Name }}",
    "desc": "{{ .Site.Description }}",
    "icon": "{{ .Site.Favicon }}"
  },
  "services": [
    {{- $first := true -}}
    {{- range .Site.Pages }}
      {{- range .Sections }}
        {{- range .Items }}
          {{- if not $first }},{{ end }}
          {
            "name": "{{ .Title }}",
            "desc": "{{ .Description }}",
            "href": "{{ .URL }}",
            "icon": "{{ .Icon }}"
          }
          {{- $first = false }}
        {{- end }}
      {{- end }}
    {{- end }}
  ]
}