{
  "ui": {
    "name": "{{ .Site.Name }}",
    "desc": "{{ .Site.Description }}",
    "icon": "{{ .Site.Favicon }}",
    "wallpaper": "img/background.jpg",
    "wallpaper_dark": "img/background-dark.jpg",
    "dark_mode": "Auto",
    "open_new_tab": true,
    "ping_dots": true,
    "blur": true,
    "animations": true,
    "trusted_domains": []
  },
  "services": [
    {{- $first := true -}}
    {{- range .Site.Pages }}
      {{- range .Sections }}
        {{- range .Items }}
          {{- if not $first }},{{ end }}
          {
            "name": "{{ .Title }}",
            "desc": "{{ .Description }}",
            "href": "{{ .URL }}",
            "icon": "{{ .Icon }}"
          }
          {{- $first = false }}
        {{- end }}
      {{- end }}
    {{- end }}
  ]
}