{
  "layout": {
    "desktop": [
      {{- $firstItem := true -}}
      {{- $counter := 1 -}}
      {{- range .Site.Pages }}
        {{- range .Sections }}
          {{- range .Items }}
            {{- if not $firstItem }},{{ end }}
            {
              "id": "item-{{ $counter }}",
              "label": "{{ .Title }}",
              "type": "app-shortcut",
              "url": "{{ .URL }}",
              "icon": {
                "path": "./assets/{{ lower .Title }}.svg",
                "name": "{{ .Title }}",
                "source": "{{ .Icon }}"
              },
              "showLabel": true,
              "adminOnly": false
            }
            {{- $firstItem = false }}
            {{- $counter = add $counter 1 }}
          {{- end }}
        {{- end }}
      {{- end }}
    ],
    "mobile": [
      {{- $firstItem := true -}}
      {{- $counter := 1 -}}
      {{- range .Site.Pages }}
        {{- range .Sections }}
          {{- range .Items }}
            {{- if not $firstItem }},{{ end }}
            {
              "id": "item-{{ $counter }}",
              "label": "{{ .Title }}",
              "type": "app-shortcut",
              "url": "{{ .URL }}",
              "icon": {
                "path": "./assets/{{ lower .Title }}.svg",
                "name": "{{ .Title }}",
                "source": "{{ .Icon }}"
              },
              "showLabel": true,
              "adminOnly": false
            }
            {{- $firstItem = false }}
            {{- $counter = add $counter 1 }}
          {{- end }}
        {{- end }}
      {{- end }}
    ]
  },
  "isSetupComplete": true,
  "search": true,
  "searchProvider": {
    "name": "Google",
    "url": "https://www.google.com/search?q={query}"
  },
  "pages": [],
  "title": "MY HOMELAB",
  "showInternetIndicator": true
}