title: "{{ .Site.Name }}"

services:
{{- range .Site.Pages }}
  {{- range .Sections }}
  {{ .Title }}:
    {{- range .Items }}
    - title: "{{ .Title }}"
      description: "{{ .Description }}"
      link: "{{ .URL }}"
      icon:
        name: "simple-icons:{{ lower .Title }}"
        wrap: true
      status:
        enabled: true
    {{- end }}
  {{- end }}
{{- end }}