[
  {{- $firstCategory := true -}}
  {{- range .Site.Pages }}
    {{- range .Sections }}
      {{- if not $firstCategory }},{{ end }}
      {
        "category": "{{ .Title }}",
        "services": [
          {{- $firstService := true -}}
          {{- range .Items }}
            {{- if not $firstService }},{{ end }}
            {
              "name": "{{ .Title }}",
              "description": "{{ .Description }}",
              "uri": "{{ .URL }}",
              "icon": "{{ .Icon }}"
            }
            {{- $firstService = false }}
          {{- end }}
        ]
      }
      {{- $firstCategory = false }}
    {{- end }}
  {{- end }}
]