{
  "meta": {
    "title": "{{ .Site.Name }}",
    "description": "{{ .Site.Description }}"
  },
  "links": [
    {{- $first := true -}}
    {{- range .Site.Pages }}
      {{- range .Sections }}
        {{- range .Items }}
          {{- if not $first }},{{ end }}
          {
            "title": "{{ .Title }}",
            "subtitle": "{{ .Description }}",
            "url": "{{ .URL }}",
            "icon": "{{ .Icon }}"
          }
          {{- $first = false }}
        {{- end }}
      {{- end }}
    {{- end }}
  ]
}